<ion-content #mymap class="maincontent">

    <ion-fab *ngIf="!shouldshowfilterlist" bottom right (click)="increase()" >
      <button color="testone" ion-fab mini>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-fab>
  
    <ion-input *ngIf="!shouldshowfilterlist" [(ngModel)]="radius" (keypress)="eventHandler($event.keyCode)" class="bottominput" bottom right placeholder="radius">
        
    </ion-input>
  
    <ion-fab *ngIf="!shouldshowfilterlist" bottom (click)="reduce()" right style="margin-right: 85px">
      <button color="testone" ion-fab mini>
        <ion-icon name="md-remove"></ion-icon>
      </button>
    </ion-fab>
  
  
  
    <div *ngIf="!shouldshowfilterlist"  #map id="map">
    </div>
  
    <ion-list *ngIf="shouldshowskillslist" class="floatinglist">
      <ion-item *ngFor="let country of countries" (click)="add(country, i)">
        {{country}}
        <ion-icon item-right name="ios-options-outline"></ion-icon>
      </ion-item>
    </ion-list>
  
    <ion-card class="headercard">
      <ion-grid style="height: 50px;">
        <ion-row>
          <ion-col col-1>
          <ion-icon menuToggle style="font-size: 27px; margin-left: 10px; float: left;" 
          name="menu" color="dark"></ion-icon>                      
          </ion-col>
  
          <ion-col>
            <ion-searchbar animated="true" 
            placeholder="Find talents close to you"
            (ionChange)="search()"
            (click)="showit()"
            (ionBlur)="removeFocus()"
            debounce=500 [(ngModel)]="searchedtag" class="mysearch"></ion-searchbar>
              <!-- <ion-searchbar animated="true" 
          placeholder="Search for talents close to you" class="mysearchbar"></ion-searchbar>-->
          </ion-col>
  
  
          <ion-col col-1>
          <ion-icon style="font-size: 27px; 
          margin-right: 10px; float: right;" name="notifications-outline" 
          color="dark"></ion-icon>                                  
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <!-- <div>
          <ion-icon style="font-size: 27px; margin-left: 20px; float: left; margin-top: 1px; margin-bottom: 1px;" name="menu" color="dark"></ion-icon>            
          <ion-searchbar style="float: left;" animated="true" 
          placeholder="Search for talents close to you" class="mysearchbar"></ion-searchbar>
      </div>
           -->
      </ion-card>

    <ion-list *ngIf="shouldshowfilterlist" class="floatinglist">
        <ion-list-header>Minimum Salary</ion-list-header>
        <ion-list radio-group [(ngModel)]="minimumsalary">
            <ion-item>
              <ion-label>$10k - $20k / year</ion-label>
              <ion-radio value="10to20"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>$21k - 30k / year</ion-label>
              <ion-radio value="21to30"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>$31k - $50k / year</ion-label>
              <ion-radio value="31to50"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>$51k+</ion-label>
              <ion-radio value="51plus"></ion-radio>
            </ion-item>
          </ion-list>
          <ion-list-header>Hourly Rate</ion-list-header>
          <ion-list radio-group [(ngModel)]="minimumsalary">
              <ion-item>
                <ion-label>Any hourly rate</ion-label>
                <ion-radio value="10to20"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>$10 and below</ion-label>
                <ion-radio value="10below"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>$11 to $30</ion-label>
                <ion-radio value="11to30"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>$31 to $60</ion-label>
                <ion-radio value="30to60"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>$61 and above</ion-label>
                  <ion-radio value="61plus"></ion-radio>
                </ion-item>
            </ion-list>

            <p align="center"><button (click)="applyFilters()" ion-button >Apply filters</button></p>
    </ion-list>  
  
    <!-- <p align="center" id="intitalstring">
      <b>Edung Divinefavour</b><br>
      Hourly rate - $12.5/hr<br>
      Skills - Android | UI/UX
      <br>
      <br>
      <button onclick="Window.myComponent.viewProfile()" class="contactbtn">View Profile</button>
    </p> -->
  </ion-content>
  