page-freelancers {

    .fab {
        width: 30px !important;
        height: 30px !important;
        }
    
      #map{
        // height: 85vh
        height: 100vh;
    }

    .floatinglist{
      position: absolute;
      z-index: 12;
      top: 65px;
      // align-self: center;
      width: 94%;
      left: 2.5vw;
    }

    .bottominput{
          position: absolute;
          z-index: 5;
          bottom: 15px;
          left: 74vw;
          font-size: 12px;
          width: 12vw;
          padding-left: 6px;
          background-color: white;
          // padding: 1px;
          text-align: right;
          color: black
    }


    .headercard{
      position: absolute;
      z-index: 5;
      top: 2px;
    }

    .mysearch{
        background: transparent;
        margin: auto;
        z-index: 5;
        flex-basis: 50px;
        position: absolute;
        top: -1px;
    }



    .contactbtn{
        height: 30px;
        width: 90px;
        background: color($colors, testone);
        color: white;
    }
          .searchitem{
            // background: #263238;
            background: transparent;
            position: absolute;
            z-index: 5;
            top: 0vh;
            // background: #000;
            
          }
    
          .maincontent{
            // background-image: url('../../assets/map.png');
            
            // background-repeat: no-repeat;
            // background-size: cover;
          }
}
