page-signin {
    .content_bg{
        background-image: url('../../assets/login.png');
        // background-image: url('../../assets/back5.png');        
        // background-image: url('../../assets/download.jpeg');
        // background-image: url('../../assets/happy2.png');
        background-repeat: no-repeat;
        background-size: cover;
//         max-width:100%;
// max-height:100%;
        
        // background-position: -170px;

        // background-color: white;
        
    }

    .listt{
        background: transparent;
        color: #ffffff
        // margin-right: 100px;
    }

  //   input {
  //     .placeholder {
  //        color: #ffffff;
  //     }
  // }
    .btn {
          color: color($colors, testone);
        border: 2px solid color($colors, light);
        background-color: white;
        color: color($colors, primary);
        padding: 25px 28px;
        font-size: 18px;
        margin-right: 40px;
        margin-top: 40px;
        margin-left: 20px;
        width: 80vw;
        cursor: pointer;
      }

      .linkedin{
        // color: color($colors, light);
        border: 2px solid color($colors, primary);
        color: color($colors, light);
        padding: 25px 28px;
        font-size: 18px;
        margin-right: 40px;
        border-radius: 20px; 
        background-color: #006096;
        margin-top: 20px;
        margin-left: 20px;
        width: 80vw;
        cursor: pointer;
      }

      .lineunder{

        width: 80vw;
        margin-left: 4.5vw;
        position: absolute;
        bottom: 20vh;
        background: transparent;

      }

      .fpwd{
        float: right;
        margin-right: 15px;
        color: color($colors, light);
        font-size: 16px;
        margin-top: 30px;

      }

      .joinn{
            float: right;
            margin-right: 15px;
            color: color($colors, testone);
            
      }

      .newmember{
font-size: 17px;
        color: white;
      }

      .signup{
        color: white;
        margin-left: 10px;
      }
}
