// @import "../../node_modules/ionic2-auto-complete/auto-complete";

.container {
    //   position: relative;
    //   background-image: url('../assets/icon/test.png');
      text-align: center;
      height: 21vh;
      color: white;
      background: color($colors, testone);
      padding: 0px;
    }
    
    .user-name {
      font-size: 18px;
      position: absolute;
      bottom: 35px;
      right: 16px;
    }
    
    .userimage{
      width:80px;
      position: absolute;
      top: -5vh;
      left: -5vh;
      height:80px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin: 50px;
    }
    
    .user-mail {
      font-size: 15px;
      position: absolute;
      bottom: 15px;
      right: 16px;
    }